body{
    background-color: wheat;
}
option{
    text-align: center;
}
#display{
    display: none;
    text-align: center;
}
#timeSelection{
    display: none;
}
label{
    font-size: xx-large;
    font-weight: bolder;
}
input,select{
    padding: .3%;
    border-radius: 10px;
    font-size: xx-large;
    font-weight: bold;
}
h1{
    font-size: 3rem;
}
button{
    display: flex;
    margin: auto;
    padding: 1% 5%;
    margin-top: 10px;

    background-image: linear-gradient(to right,rgb(107, 93, 93), rgb(4, 241, 4),rgb(102, 88, 88));
    box-shadow: 0 0 5px black, 0 0 15px green,0 0 10px rgb(44, 42, 42);
    border-radius: 30px;
    font-weight: bolder;
}
@media only screen and (min-width:508px) {
    h1{
        font-size: xx-large;
    }
}
@media only screen and (min-width:365px) and (max-width:507px) {
    label{
        font-size: medium;
        width: 110px;
        font-weight: normal;
    }
    input{
        width: 100px;
        font-size: medium;
    }
    select{
        font-size: medium;
    }
    h1{
        font-size: x-large;
    }
}
@media only screen and (max-width:364px) {
    label{
        font-size: small;
        width: 100px;
        font-weight: lighter;
    }
    input{
        width: 80px;
        font-size: x-small;
    }
    select{
        font-size: small;
    }
    h1{
        font-size: small;
    }
    body{
        min-width: 200px;
    }
}